<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Crime toolbar</Name><AddInID>{ff26b0e4-d2fb-4561-9ebe-57f7792ab895}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>MollyAsher</Author><Company>Untitled</Company><Date>02/14/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AddIn_addin.py" namespace="AddIn_addin"><ArcMap>
    <Commands>
        <Button caption="Risk calculation" category="Crime toolbar" class="RiskButton" id="AddIn_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Burglary tools" category="Crime toolbar" id="AddIn_addin.BurglaryToolbar" showInitially="true"><Items><Button refID="AddIn_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>