<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Explosion Addin</Name><AddInID>{0278a288-3627-4dcd-8a1a-773cc9f6e3f0}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>MollyAsher</Author><Company>Untitled</Company><Date>03/28/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="ExplosionAddin_addin.py" namespace="ExplosionAddin_addin"><ArcMap>
    <Commands>
        <Button caption="Explosion Assessment" category="Explosion Addin" class="ExplosionButtonClass" id="ExplosionAddin_addin.explosionbutton" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Explosion Toolbar" category="Explosion Addin" id="ExplosionAddin_addin.toolbar" showInitially="true"><Items><Button refID="ExplosionAddin_addin.explosionbutton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>